@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&family=Open+Sans:wght@400;500;600&display=swap');
.contact-us{
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 2em 0em;
}
.address{
    height: 100%;
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.address h2{
    padding: .7em 0em;
    font-size: 1.8em;
    font-family: "Open Sans";
    font-weight: 500;
}
.address p{
    padding: .5em 0em;
    font-size: 1.2em;
    font-family: "Open Sans";
    font-weight: 400;
    color: #555555;
}
.address-logo-box{
    height: 120px;
    width: 120px;
    background: #f5f5f5;
    border-radius: 50%;
    font-size: 2em;
    color: #03acdc;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* stylo theme  start*/
.stylo-theme{
    min-height: 400px;
    padding: 2em 0em;
}
.stylo-theme h2{
    font-size: 2.1em;
    text-align: center;
}
.stylo-theme p{
    width: 80%;
    margin: 0em auto;
    font-size: 1.4em;
    text-align: center;
    color: #555555;
}
.theme-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
}
.the-form{
    width: 22%;
    font-size: 1.2em;
    margin: 1.5em 0em 0em 0em;
}
.lablel{
    color: #776688;
    font-weight: 800;
}
.the-form input{
    width: 100%;
    padding: 1em .2em;
    margin: .7em 0em;
    border-color: #ccc;
}
.the-form-message{
    font-size: 1.1em;
    padding: 1em;
}
.the-form-message textarea{
    width: 100%;
    font-size: 1.1em;
    padding: .3em;
    margin: .4em 0em;
    border-color: #ccc;
}
.button-contact{
    padding: 0em 1em;
   
}
.button-contact button{
    font-size:1.1em ;
    padding: .6em .5em;
    color: #fff;
    border: none;
    background-color: #30b2d2;
}